:root {
  --primary-color: #c75b72;
  --secondary-color: #e18e28;
  --background-color: #f4f4f4;
  --text-color: #333333;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ ゴシック", "MS Gothic", sans-serif;
  margin: 0;
  color: var(--text-color);
}

img {
  max-height: 100%;
  object-fit: cover;
}

.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__main .padding {
  width: 64px;
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: var(--primary-color);
}

.header__links a {
  color: white;
}

#pickup-menus {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-behavior: smooth;
  padding: 0 12px 0 12px;
  /* background-color: var(--background-color); */
}

.pickup-menu {
  flex: 0 0 auto;
  width: 90%;
  max-width: 300px;
}

.pickup-menu img {
  width: 100%;
  height: auto;
}

#news {
  width: 80%;
  margin: auto;
}

.news__item {
  margin-bottom: 36px;
}

#logo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 9999;
  opacity: 1;
  animation: fadeOut 2s ease-out 1.5s forwards;
}

/* ロゴのスタイル */
#logo-overlay img {
  width: 150px; /* ロゴサイズを調整 */
}

/* フェードアウトアニメーション */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.hero-container {
  width: 100%;
  text-align: center;
  background-color: var(--background-color);
  padding: 12px 0;
}

.hero-container img {
  width: 100%;
  max-width: 800px;
  max-height: 450px;
  object-fit: cover;
}

.hero-container .text-highlight {
  color: var(--primary-color);
  padding: 0 8px;
}

.opening-time-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  padding: 12px 0;
}

.time-content-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.time-content-container .title {
  text-align: right;
  width: 240px;
}

.time-content-container .supplement {
  text-align: left;
  width: 240px;
}

.footer__main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  min-height: 100px;
  background-color: var(--primary-color);
  color: white;
}
